.about-main-container{
    padding-top: 1.5rem;
}

.about-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #3A71DF;
    text-align: center;
}

.info-container {
    padding: 1rem;
}

.about-row {
    margin-top: 1rem;
}

.team-member-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #3A405A;
    margin-top: .5rem;
}

.team-member-role {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    color: #3A405A;
    margin: 0;
}

.team-image {
    height: 8rem;
}

.sponsor-image {
    width: 10rem;
    max-height: 3rem;
}

.sponsor-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(234, 236, 244, 0.40)
}



@media (min-width: 768px) {

    .about-outer {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .about-main-container{
        min-width: 45vw;
        max-width: 70vh;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;

        padding-top: 2rem;
    }
}