.contact-main-container {
    padding-top: 2rem;
}

.contact-links-container {
    background-color: #F2A958;
    padding-top: 1rem;
}

.contact-heading {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact-email {
    color: white;
    font-weight: normal;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-icon {
    margin-right: 4px;
}


@media (min-width: 768px) {

    .contact-outer {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-main-container{
        width: 51vh;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;

        padding-top: 2rem;
    }
}