.dashboard-main-container{
    padding-top: 1.5rem;
}


.dashboard-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.img-link {
    border-radius: 20%;

    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
}


.img-link-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;


    width: 10rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-link-image-container {
    max-width: 100%;
    max-height: 5.5rem;
    height: auto;
}

.img-link-img {
    max-height: 100%;
    height: auto;
}

.img-link-row {
    margin-top: 1rem;
}

.blue-link {
    background-color: #4A7CE2;
}

.grey-link {
    background-color: #B8B7BF
}

.green-link {
    background-color: #9BE17C;
}

.orange-link {
    background-color: #F2A958;
}

.yellow-link {
    background-color: #F9D153;
}

@media (min-width: 768px) {

    .dashboard-outer {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .dashboard-main-container{
        min-width: 51vh;
        max-width: 70vh;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;

        padding-top: 2rem;
    }
}