.info-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.info-main-container {
    padding-top: 1.5rem;
}

.info-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.info-hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dropdown-btn {
    border: none;
    padding: 0;
    background-color: inherit;
    color: #4A7CE2;
    font-weight: bold;
    width: 100%;
    text-align: left;
    display: flex;
}

.chevron-container {
    margin-right: 4px;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {

    .info-outer {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .info-main-container{
        min-width: 51vh;
        max-width: 70vh;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;

        padding-top: 2rem;
    }
}