.risk-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.risk-subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    color: #707070;
}

.risk-level-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.risk-level-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    max-height: 6rem;
    width: 100%;
    max-width: 12rem;
}

.list-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}

.selection-list {
    list-style-type:none;
    padding: 0;
}

.selection-list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: .8rem;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

.results-main-container{
    padding: 32px; 
}

.img-card {
    background-color: #EAECF4;
    border-color: #EAECF4;
    border-radius: 20%;

    box-sizing: border-box;
    width: 3.5em;
    height: 3.5em;
}

.img-card-row {
    padding-bottom: .5em;
}

.img-card-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #3A405A;


    width: 3.5em;
    height: 3.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-card-image-container {
    max-width: 100%;
    max-height: 1.75em;
    height: auto;
}

.img-card-image {
    max-height: 1.75rem;
    height: auto;
}

.img-card-text {
    font-size: xx-small;
}

.display-none {
    display: none;
}

.error-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.link-container {
    margin-bottom: 1rem;
}

.results-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.to-dashboard-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #3A71DF;
    margin-bottom: 0;
}

.dashboard-link-btn {
    padding: 0;
    display: flex;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.tips-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tips-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

.tips-list-item {
    margin-top: .5rem;
}

.lower-risk-btn {
    margin-top: 2rem;
}

.celebration-img {
    height: 15rem;
    margin: 2rem;
}

.congrats-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.red {
    color:#FE7E95
}

.yellow {
    color: #F9D153;
}

.green {
    color: #90C771;
}

@media (min-width: 768px) {

    .results-outer {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .results-main-container{
        min-width: 45vw;
        max-width: 70vh;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;

        padding-top: 2rem;
    }
}