.heading-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #3A405A;
    text-align: center;
    font-size: 2rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
}

.sub-heading-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #3A405A;
    text-align: center;
    font-size: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.step-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #4A7CE2;
    text-align: center;
    font-size: 1.5rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.tutorial-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 12rem;
    width: 100%;
}

.nav-controls {
    margin-bottom: 3rem;
}

.prev-next-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.prev-btn {
    margin-right:auto;
    margin-left: .0;
}

.next-btn {
    margin-left: auto;
    margin-right: 0;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}