.heading-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #3A405A;
    text-align: center;
    font-size: 2rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
}

.sub-heading-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #3A405A;
    text-align: center;
    font-size: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.step-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #4A7CE2;
    text-align: center;
    font-size: 1.5rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.tutorial-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 12rem;
    width: 100%;
}

.tutorial-nav-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-bottom: 1.5rem;
}

.prev-next-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.prev-btn {
    margin-right:auto;
    margin-left: .0;
}

.next-btn {
    margin-left: auto;
    margin-right: 0;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.tutorial-main-container {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
}

.step-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tutorial-progress-bar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.pagination-dots {
    padding: 0;
    margin: unset;
}

.pagination-dots li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #4A7CE2;
    border-radius: 10px;
}

.pagination-dots .active {
    background-color: #4A7CE2;
    padding: 0;
}

@media (min-width: 768px) {

    .tutorial-outer {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tutorial-main-container{
        min-width: 45vw;
        min-height: 90vh;
        border-style: solid;
        border-color: #ACB0BC;
        border-radius: 20px;
        position: relative;

        display: flex;
        flex-direction: column;
    }

    .tutorial-nav-controls {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        margin-bottom: 1.5rem;
    }
}